body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.square{
    border: 3px solid rgb(0, 43, 128);
}

.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
}